@import url("https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css");
@import url("https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css");

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  -web-kit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Plus Jakarta Sans', sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {
  float: left;
  width: 100%;
  margin: 0px;
  font-family: 'Plus Jakarta Sans', sans-serif;

  background: #f6f7f9 !important;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

.custom_container {
  max-width: 1400px;
  margin: 0 auto;
}
/* header css start */

.desk_header {
  display: block;
  width: 100%;
  padding: 40px 0px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, rgba(195, 212, 233, 0.4), rgba(195, 212, 233, 0.4)) !important;
  border-bottom: 1px solid #C3D4E966;
}
.mobile_header {
  display: none;
  width: 100%;
  padding: 32px 0px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, rgba(195, 212, 233, 0.4), rgba(195, 212, 233, 0.4)) !important;
}


.header_bar_1 {
  display: inline-block;
  width: 100%;
  padding: 0px 15px;
}

.header_bar_1_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header_logo_parent {
  display: flex;
  align-items: center;
}

.header_logo_parent{
  display: flex;
  align-items: center;
}

.header_logo img{
width: 148px;
}

.search_modal_box {
  display: flex;
  position: relative;
  min-width: 492px;
  margin-left: 64px;
  height: 44px;

}
.search_modal_box input {
  background: transparent !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #596780;
  border: 1px solid #C3D4E966;
  border-radius: 70px;
  padding: 0px 50px;
  width: 100%;
}
.search_modal_box input:focus{
  outline: unset !important;
}
.search_modal_box input:focus-visible{
  outline: unset !important;
}
.search_modal_box i.fa-thin.fa-magnifying-glass {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  left: 20px;
  font-size: 20px;
}
.search_modal_box i.fa-solid.fa-sliders-simple {
  position: absolute;
  right: 20px;
  font-size: 22px;
  color: #898989c1;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: normal;
  color: #596780;
}

.header_links {
  display: flex;
  align-items: center;
}
.header_links_list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header_links_list a {
  color: #596780 !important;
  font-size: 20px !important;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-right: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #C3D4E966;
}
.header_links_list a .notification_count{
  width: 11px;
  height: 11px;
  position: absolute;
  background: #FF4423;
  border-radius: 50%;
  top: 0px;
  right: 0px;
}
.header_links_list a:hover{
  text-decoration: none;
}
.header_links_list a:last-child {
  margin-right: 0px;
}
 a.header_button {
  width: 44px;
  height: 44px;
}
 a.header_button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.res_toggle_button i {
  font-size: 22px;
  color: #898989c1;
}
.header_links.active {
  transform: translatex(0%);
  transition: 0.3s ease-in-out;
}
@media (max-width: 1140px) {
.search_modal_box {
  min-width: 440px;
  margin-left: 40px;
}
}
@media (max-width: 992px) {
.desk_header{
  display: none;
}
.mobile_header{
  display: block;
}

  .header_bar_1_list {
    padding-bottom: 32px;
}
.header_bar_2_list{
  display: grid;
  grid-template-columns: 1fr 48px;
  gap: 16px 16px;
  width: 100%;
}
.search_modal_box {
  min-width: unset;
  margin-left: 0px;
  height: 48px;
}
.search_modal_box input {
  border-radius: 10px;
 
}
.search_modal_box i.fa-light.fa-magnifying-glass {
  left: 22px;
}

.res_toggle_button i {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 15px;
  border-radius: 10px;
  padding: 0px 17px;
  color: #596780;
  border: 1px solid #C3D4E966;
}
 
}
@media (max-width: 768px) {
.header_logo img {
  width: 108px;
}
a.header_button {
  width: 34px;
  height: 34px;
}
}

/*  header css end */

/* banner css start */
.banner_section {
  display: inline-block;
  width: 100%;
  padding: 32px 15px 32px 15px;
  position: relative;
}

.home_page_banner_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 32px;
  width: 100%;
  align-items: center;
}


.home_page_banner_figcaption {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  background: #54a6ff;
}
.home_page_banner_figcaption.second_child{
  background: #3563E9;

}

.home_page_banner_figcaption .heading {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  position: absolute;
  top: 24px;
  left: 24px;
}
.home_page_banner_figcaption .heading h1 {
  margin: 0px;
  color: #fff;
  padding-bottom: 16px;
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: -0.03em;
}
.home_page_banner_figcaption .heading p {
  margin: 0px;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.02em;
  color: #fff;
  padding-bottom: 20px;
}

.home_page_banner_figcaption .heading a {
  background: #3563E9;

  max-width: 120px;
  border-radius: 4px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;

}
.second_child .heading a{
  background: #54A6FF;

}
.home_page_banner_figcaption figure {
  margin: 0px !important;
  width: 100%;
  display: flex;
position: relative;
}

.home_page_banner_figcaption figure img{
  width: 100%;
  height: 360px;
  object-fit: cover;
}

@media (max-width: 1024px) {

  .home_page_banner_box {
    gap: 20px 20px;
  }
  .home_page_banner_figcaption figure img {
    height: 330px;
}
}
@media (max-width: 992px) {
  .banner_section {
    padding: 0px 15px 32px 15px;
  }
  }
@media (max-width: 768px) {

  .banner_section:before {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 220px;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.home_page_banner_figcaption .heading h1 {
  font-size: 22px;
  line-height: 35px;
  padding-bottom: 12px;
}
.home_page_banner_figcaption .heading p {
  font-size: 18px;
  line-height: 26px;
}
 
  .home_page_banner_box {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }

}
@media (max-width: 540px) {
  .home_page_banner_figcaption figure img {
    height: 232px;
}
  .home_page_banner_figcaption .heading h1 {
    font-size: 16px;
    line-height: 24px;
}
.home_page_banner_figcaption .heading p {
  font-size: 12px;
  line-height: 19px;
  padding-bottom: 16px;
}
.home_page_banner_figcaption .heading a{
  font-size: 12px;
  line-height: 16px;
}
.banner_section:before {
  height: 138px;
}
}

/*  banner css end  */

/* home section one css start */
.home_section_one {
  float: left;
  width: 100%;
  display: block;
  padding: 0px 15px 20px 15px;
}


.home_section_one_list {
  display: grid;
  grid-template-columns: 1fr 64px 1fr;
  gap: 20px 44px;
  width: 100%;
  position: relative;

}

.home_section_one_single_list {
  display: flex;
  width: 100%;
  padding: 24px 48px;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
}
.radio_input {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.radio_input label {
  margin: 0px;
  color: #1A202C;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
padding-left: 8px;
}

.delivery_type_detail_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  width: 100%;
}
.delivery_type_detail_single_list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #C3D4E966;
  padding-right: 24px;
width: 100%;
}

.delivery_type_detail_single_list:last-child{
  border-right: unset;
  padding-right: 0px;
}
.delivery_type_detail_single_list label {
  padding-bottom: 8px;
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1A202C;

  
}
.delivery_type_detail_single_list select {
  border: unset;
  width: 100%;
  color: #90A3BF;

font-size: 12px;
font-weight: 500;
line-height: 15px;
letter-spacing: -0.02em;
text-align: left;

}
.delivery_type_detail_single_list select:focus{
  outline: unset !important;
}
.delivery_type_detail_single_list select:focus-visible{
  outline: unset !important;
}
.home_section_one_single_list_shifter a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.home_section_one_single_list_shifter a i {
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #3563E9;
}
@media (max-width: 1300px) {
  .home_section_one_list {
    gap: 20px 20px;
}
.home_section_one_single_list {
  padding: 24px 24px;
}
.delivery_type_detail_list {
  gap: 15px;
}
.delivery_type_detail_single_list {
  padding-right: 15px;
}


}

@media (max-width: 1024px) {
  .home_section_one_list {
    grid-template-columns: 1fr;
    gap: 32px 10px;
}

.home_section_one_single_list_shifter {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.home_section_one_single_list_shifter a i {
  width: 60px;
}
.radio_input {
  position: relative;
  z-index: 99;
}
.delivery_type_detail_single_list select{
  position: relative;
  z-index: 99;
}
}
@media (max-width: 768px) {

  }
@media (max-width: 540px) {
  .home_section_one_single_list {
    padding: 16px 16px;
}
.radio_input {
  margin-bottom: 24px;
}
 
}

/* home section one css end  */



 /* product listing style start */
 .product_listing_main_section {
  width: 100%;
  display: inline-block;
  padding: 0px 18px;
  margin-bottom: 64px;
}

.product_container {
  max-width: 1400px;
  margin: 0px auto;
}

.shop_product_list_parent {
  display: flex;
  flex-direction: column;
}

.shop_product_list_main {
  display: flex;
  flex-direction: column;
}

.shop_product_list_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 26px;
}

.shop_product_list_heading h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-transform: capitalize;
margin: 0px;
color: #90A3BF;


}

.shop_product_list_heading a {
  color: #3563E9 !important;

font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
}
.product_list_parent {
  display: flex;
  margin: 0px -16px;
  flex-wrap: wrap;
  margin-bottom: 0px !important;
}

.single_product_box_main {
  padding: 0px 16px;
  flex: 0 0 25%;
  max-width: 25%;
  margin: 16px 0px;
  width: 100%;
}

.single_product_box {
  float: left;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background: #fff;
  padding: 24px 24px;
}

.single_product_box figure {
  position: relative;
  height: 200px;
margin: 20px 0px;
}

.single_product_box figure img {
  width: 100%;
  float: left;
  height: 100%;
  object-fit: contain;
}

.single_product_detail_main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.single_product_detail {
  display: flex;
  flex-direction: column;
}


.product_name {
  display: flex;
  width: 100%;
  padding-bottom: 8px;
}

.product_name p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #1A202C;
  margin: 0px !important;
padding-bottom: 4px;
}
.product_category p {
  margin: 0px;
  color: #90A3BF;

font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: -0.02em;

}
.wishlist_box i {
  font-size: 24px;
  color: #90A3BF;
}
.single_product_figure{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.product_attribute_list {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.single_attribute {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 10px;
}
.single_attribute:last-child{
  margin-right: 0px;
}
.single_attribute strong {
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: -0.02em;
  color: #90A3BF;
  padding-left: 6px;
}
.single_attribute i {
  font-size: 18px;
  color: #90A3BF;
}
.single_product_box_figcaption {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.price_tags {
  display: flex;

}

.total_and_discount_price {
  display: flex;
  flex-direction: column;
}

.total_and_discount_price .orignal_price {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  color: #1A202C;
}
.total_and_discount_price .orignal_price span {
  color: #90A3BF;

font-size: 14px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;

}

.total_and_discount_price .discount_price.text_decoration_line_through {
  margin: 0px !important;
  text-decoration: line-through;
  padding-top: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  color: #90A3BF;

  
}

.product_cart_btn {
  display: flex;

}

.product_cart_btn a {
  border-radius: 4px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF !important;
  width: 116px;
  background: #3563E9;
  letter-spacing: -0.02em;
}
.product_cart_btn a:hover{
  text-decoration: none;
}

.product_listing_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-top: 48px;
}

.product_listing_btn a{
  background: #3563E9;
  max-width: 156px;
  border-radius: 4px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  width: 100%;
 color: #fff !important;
}
.product_listing_btn p{
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #90A3BF;
  margin: 0px
}
.slick-slider {
  margin: 0px !important;
  
}

@media(max-width: 1350px) {
  .product_list_parent.popular_slider{
    -webkit-mask-image: linear-gradient(to left, transparent, black 20%, black 100%, transparent 100%);
  }
  .single_product_box_main {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}



/*mobile rotation*/
@media (max-width: 1024px) {
  .product_list_parent {
    margin: 0px -10px;
}
  .single_product_box_main {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 10px 0px;
    padding: 0px 10px;
  }
  .product_listing_main_section {
    padding: 0px 15px;
  }
  .single_product_box_main.slick-slide {
    padding: 0px 10px 0px 0px;
}
}

@media (max-width: 768px) {

  .single_product_box_main {
    flex: 0 0 100%;
    max-width: 100%;
}
.single_product_figure {
  display: grid;
  grid-template-columns: 1fr 110px;
  width: 100%;
  gap: 0px 10px;
  align-items: center;
}
.product_attribute_list {
  flex-wrap: unset;
  flex-direction: column;
}
.single_product_box figure img {
  max-width: 250px;
}
.single_product_box figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  margin: 0px 0px;
}
.product_listing_main_section {
  margin-bottom: 48px;
}
.slick-list.draggable {
  padding: 0px 20px 0px 0px !important;
}
}

@media (max-width: 540px) {
  
 
 
.product_listing_btn {

  justify-content: space-between;
}
.product_listing_btn p {
  position: unset;
}
.product_listing_btn a {

  max-width: 163px;

  height: 51px;
  font-size: 16px;
}
}
@media (max-width: 375px) {
.slick-list.draggable {
  padding: 0px 20px 0px 0px !important;
}
}

/* product listing style end */


/* footer css start */


.footer-section {
  background: #fff;
  float: left;
  width: 100%;
  padding: 80px 15px 36px 15px;
}

.footer-container {
  max-width: 1400px;
margin: 0 auto;
}


.footer-data-box {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
}
.footer-data-box-two{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 40px;
}


.footer-detail-box-one {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 292px;

}

.footer-detail-box-one figure {
  margin: 0px !important;

}
.footer-detail-box-one figure img{
width: 148px;
margin-bottom: 16px;
}



.footer-detail-box-one p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
margin: 0px;
  color: #131313;
}



.footer-detail-box-two {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-detail-box-heading {
  position: relative;
  padding-bottom: 24px;
}

.footer-detail-box-heading h3 {
  margin: 0px !important;

  text-transform: capitalize;
  color: #1A202C;

font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.02em;


}

.footer-detail-box-content-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.footer-detail-box-content-list li {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.footer-detail-box-content-list li:last-child {
  padding-bottom: 0px;
}

.footer-detail-box-content-list li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #13131399 !important;

}

.footer-detail-box-content-list li a:hover {
  color: #13131399 !important;
}


.copy_right_section{
display: inline-block;
width: 100%;
background-color: #fff;
padding: 0px 15px;
}

.copy_right_box{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #13131329;
  padding-top: 36px;
  padding-bottom: 60px;

}
.copy_right_box span{
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.02em;
  text-decoration: none;
  color: #1A202C;

}
.copy_right_box .copy_right_links{
display: flex;
align-items: center;

}
.copy_right_box .copy_right_links a{
  margin-right: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1A202C !important;
  text-decoration: none;
}
.copy_right_box .copy_right_links a:last-child{
  margin-right: 0px;
}

@media(max-width: 1024px) {
  .footer-data-box {

    grid-template-columns: 1fr;
}
}
@media(max-width: 768px) {
  .footer-section {
    padding: 0px 15px 48px 15px;
    background: unset;
}
.copy_right_section {
  background-color: transparent;

}
.copy_right_box {
  flex-direction: column-reverse;
  align-items: flex-start;
}
.copy_right_box .copy_right_links {
  justify-content: space-between;
  width: 100%;
}
.copy_right_box span{
padding-top: 32px;

}
.copy_right_box {
  padding-top: 0px;
  padding-bottom: 24px;
  border: unset;
}
.footer-data-box-two {
  grid-template-columns: 1fr 1fr;
}

}


@media(max-width:540px) {

}

/*  footer css end */